<%- layout('layouts/boilerplate.ejs') %>

    <body>

        <% if (!myBookings.length) { %>
            <div class="alert alert-primary" role="alert">
                You don't have any bookings yet!!!
                <br>
                Start Booking now...
            </div>
        <% } %>

        <div class="mt-3">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                <% myBookings.forEach(b=> { %>
                    <div class="card" style="width: 18rem; ">
                        <img src="<%= b.listing.image.url %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= b.listing.title %></h5>
                            <p class="card-text">From: <%= b.start.toLocaleString() %></p>
                            <p class="card-text">To: <%= b.end.toLocaleString() %></p>
                            <p class="card-text">Payment: <%= b.paymentMethod %></p>
                            <a href="/listings/<%= b.listing._id %>" class="btn btn-primary">View Listing</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </body>